
.main-title{
    text-align: center;
    color: white;
}

.item-img{
    position: relative;
    overflow: hidden;
}

.item-img:hover .description{
    top: 0;
}

.thumbnail{
    display: block;
    width: 100%;
}

.description{
    display: flex;
    align-items: center;
    color: white;
    background: hsla(0,0%,20%,.8);
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    margin: 0;
    padding: 1em;
}
Body
{
    background-color: #5A1A0AF2;
}
nav.navbar {
    background-color: #FF8A29;
}

#item1
{
    border-color:#A3A502;
    background-color: white;
    margin: 10px;
}

#item2
{
    border-color: #C92901;
    background-color: white;
    margin: 10px;

}
#item3
{
    border-color: #FF9B04;
    background-color: white;
    margin: 10px;
}


